@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@keyframes
contenido-animacion{
0% {
  margin-top: 150px;
  }
60% {
  margin-top: -50px;
  }
100% {
  margin-top: 0px;
  }
}
body{
  background: black;
  color:white;
  font-family: 'Dancing Script';
}
a{
  color: white;
}
#contenido{
  animation-name: contenido-animacion;
  animation-duration: 1s;
  width: 900px;
  margin: auto;
}
.superior{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
}
.titulo{
  padding-left: 10px;
  text-shadow: 2px 2px  #02010A;
}
.activo{
  text-decoration: none;
}
header{
  float:left;
  width: 50%;
}
nav{
  float: right;
  font-weight: bold;
  word-spacing: 25px;
  margin-right: 50px;
}
.limpiar{
  clear: both;
}
img{
  box-shadow: 2px 2px 2px #02010a;
}
#central{
  background: #82c3a6;
  padding: 20px;
}
#flying{
  width: 75%;
  display: block;
  margin: auto;
}
#secundaria{
  background: #d5c75f;
}
.contimg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.img1, .img2{
  width: 45%;
  margin: auto;
}
#img1, #img2{
  width: 100%;
  margin: auto;
}
@keyframes
img1-animacion{
0% {
  transform: rotate(0deg);
  box-shadow: 2px 2px 2px #02010a;
  border: 0px;}
50% {
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
  }
100% {
  transform: rotate(0deg);
  box-shadow: 2px 2px 2px #02010a;
  border: 0px;
  }
}
#img1:hover{
  animation-name: img1-animacion;
  animation-duration: 2s;
}
@keyframes
img2-animacion{
0% {
  transform:translate(0px,0px);
  box-shadow: 2px 2px 2px #02010a;
  border: 0px;}
50% {
  transform: translate(5px,-20px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
  }
100% {
  transform: translate(0px,0px);
  box-shadow: 2px 2px 2px #02010a;
  border: 0px;
  }
}
#img2:hover{
  animation-name: img2-animacion;
  animation-duration: 2s;
}
.contfooter{
  text-indent: 10px;
  background: #C6d5c5;
  color: black;
  height: 220px;
  width: 25%;
  float:left;
}
.enlace{
  color:black;
  font-weight:bold;
 }
#contacto{
  border-radius: 0px 0px 0px 10px;
  -webkit-border-radius: 0px 0px 0px 10px;
}
#derechos{
  border-radius: 0px 0px 10px 0px;
  -webkit-border-radius: 0px 0px 10px 0px;
}
.redes{
  width: 20px;
  box-shadow: 0px 0px 0px;
}
@media screen and (max-width: 900px) {
  #contenido{
    width: 100%;
    margin: auto;
  }
  header{
    float: none;
    width: 100%;
    text-align: center;
  }
  nav{
    float: none;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  .titulo{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contimg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }
  .img1{
    width: 90%;
    margin: auto;
  }
  .img2{
    padding-top: 20px;
    width: 90%;
    margin: auto;
  }
  #img1, #img2{
    width: 100%;
    margin: auto;
  }
  .contfooter{
    width: 100%;
    height: auto;
    margin: auto;
  }
  #contacto{
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
  }
  #derechos{
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
  }
}
